@font-face { 
  font-family: "TT Lakes Medium";
  src: url("assets/fonts/TTLakesMedium.eot");
  src: url("assets/fonts/TTLakesMedium.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/TTLakesMedium.woff") format("woff"),
  url("assets/fonts/TTLakesMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face { 
  font-family: "TT Lakes";
  src: url("assets/fonts/TTLakes-Regular.eot");
  src: url("assets/fonts/TTLakes-Regular.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/TTLakes-Regular.woff") format("woff"),
  url("assets/fonts/TTLakes-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face { 
  font-family: "TT Lakes Bold";
  src: url("assets/fonts/TTLakesCondensed-Bold.eot");
  src: url("assets/fonts/TTLakesCondensed-Bold.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/TTLakesCondensed-Bold.woff") format("woff"),
  url("assets/fonts/TTLakesCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #F2F2F2;
  max-width: 1120px;
}

* {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.main > *, .header > * {
  margin-left: 16px;
}

.header {
  height: 88px;
  background-color: #FFFFFF;
}

.header__items {
  align-items: center;
  height: 88px;
  display: flex;
}

.button__icon {
  border-radius: 50%;
  background-color: #FF3E79;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 24px; */
}

.button__icon--burger {
  background-image: url('assets/icons/burger.png');
  margin-right: 16px;
}

.button__icon--repair {
  background-image: url('assets/icons/repair.png');
}

.button__divider--left {
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  margin-left: 17px;
  display: none;
}
/* 
.header__items > .button__icon + .button__icon {
  margin-left: 16px;
} */


.button__icon--checkstatus {
  background-image: url('assets/icons/checkstatus.png');
}

.button__icon--chel {
  background-image: url('assets/icons/chel.png')
}

.button__icon--sms {
  background-image: url('assets/icons/sms.png')
}

.button__icon--phone {
  background-image: url('assets/icons/phone.png')
}

.invisible--hidden--320 {
  display: none;
  margin-left: auto;
}

.header__logo {
  background-image: url('assets/icons/Group.png');
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 97px;
  height: 51px;
  border: none;
  background-color: transparent;
  margin: 0 8px;
}

.button__divider--right {
  margin-right: auto;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
}

.main__header {
  display: flex;
  font-family: 'TT Lakes Bold';
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin-top: 24px;
  margin-bottom: 24px;
}

.main__header:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 40px;
  background: #41F6D7;
  position: absolute;
  left: 0;
}

.main__title {
  display: flex;
}

.title__button {
  background-color: transparent;
  display: flex;
  outline: none;
  border: none;
  align-items: center;
}

.title__button + .title__button {
  margin-left: 32px;
}

.title__checkstatus, .title__repair {
  margin-left: 8px;
}

.nav {
  display: flex;
  overflow: auto;
}

.nav::after {
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  width: 19.31px;
  height: 40px;
  position: absolute;
  right: 0;
  content: '';
  display: block;
}

.nav__button {
  margin: 0 16px;
  color: #7E7E82;
  border: none;
  white-space: nowrap;
  background-color: transparent;
  margin: 0 32px 0 0;
}

.nav__button--active {
  padding-top: 8px;
  padding-left: 17px;
  padding-bottom: 8px;
  padding-right: 17px;
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.section {
  margin-top: 24px;
  justify-content: space-between;
}

.section__text {
  margin-right: 16px;
  max-width: 490px;
}

.section__text + .section__text {
  margin-top: 16px;
}

.section__text--hidden {
  display: none;
}

.section__button {
  border: none;
  background-color: transparent;
  margin-bottom: 16px;
}

.section__button::before {
  content: '';
  display: inline-block;
  background-image: url('assets/icons/icon.png');
  width: 8px;
  height: 11px;
  margin-left: 24px;
  margin-right: 16px;
  margin-top: 24px;
}

.section__img {
  padding-bottom: 27px;
  width: 100vw;
  max-width: 531px;
  margin-left: -16px;
}

.title__buttons_container {
  display: none;
}

.button__icon--header {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .section {
    display: flex;
  }

  .button__divider--right {
    margin-right: 16px;
  }

  .button__icon--phone {
    margin-left: auto;
  }

  .main > *, .header > * {
    margin-left: 24px;
  }

  .invisible--hidden--320 {
    display: flex;
  }

  .button__divider--left {
    display: flex;
    margin-right: 8px;
  }

  .section__text--hidden--768 {
    display: block;
  }

  .header__items .button__icon:last-child {
    margin-right: 24px;
  }

  .button__icon--burger {
    margin-right: 0;
  }

  .section__img {
    border-radius: 6px;
    margin-left: 0px;
  }
}

@media (min-width: 1120px) {
  .nav {
    flex-wrap: wrap;
  }


  .main > *, .header > * {
    margin-left: 32px;
  }

  .section__img {
    margin-right: 32px;
  }

  .header {
    display: none;
  }

  .title .title__button:last-child {
    margin-right: 32px;
  }

  .title__buttons_container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .nav::after {
    display: none;
  }

  .button__icon--burger {
    margin-right: 0;
  }

  .section__text--hidden--1120 {
    display: contents;
  }

}